@import "tailwindcss";

:root {
  --color-primary: #2563eb; /* Tailwind bg-blue-600 */
  --color-primary-dark: #1e40af; /* Tailwind bg-blue-800 */
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-dark {
  color: var(--color-primary-dark);
}


